.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

/*.hidden {
  display: none;
}*/

div.winner {
  width: 600px;
  height: 100px;
  background-color:rgba(0,255,0,0.3);
  display: none;
}

tr {
  border-right: 1px solid red;
}
