<div class='new-game-form'>
  <h2>Start New Game</h2>
  <form action='/games' method='POST'>
    <input type='text' placeholder='player 1 initials' name='player1'>
    <input type='text' placeholder='player 2 initials' name='player2'>
    <input type='submit' value="Start Game">
  </form>
</div>
